@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    Enter Url:<input type="text" id="url" />

    <div id="description"></div>
    <input type="button" value="Save Link" id="save-link"/>
</div>

<script type="text/javascript">
    $(function () {
        $('#save-link').click(function () {
            console.log("asdf");
        });
    });
</script>
